In [24]:
import streamlit as st
import mysql.connector
import pandas as pd
import json
import plotly.express as px

In [25]:
config = {
  'user': 'root',
  'password': 'Bh#9900425184',
  'host': '127.0.0.1',
  'database': 'pulse',
  'raise_on_warnings': True
}

# Connect to the database
cnx = mysql.connector.connect(**config)

# Check if the connection is successful
if cnx.is_connected():
  print("Connection to MySQL database established.")
else:
  print("Connection to MySQL database failed.")

Connection to MySQL database established.

# Aggregate

### Transaction

In [26]:
# Create a cursor to execute SQL queries
cursor = cnx.cursor()

# Define the SQL query to retrieve data from the "Top_India_2022_District" table
query = "SELECT * FROM aggregate_transaction"

# Execute the SQL query and store the result in a Pandas dataframe
aggregate_transaction = pd.read_sql(query, cnx)

# Print the first 5 rows of the dataframe
print(aggregate_transaction.head())

  country                      state  year quarter          transaction_type  \
0   India  andaman-&-nicobar-islands  2018      Q1  Recharge & bill payments
1   India  andaman-&-nicobar-islands  2018      Q1     Peer-to-peer payments
2   India  andaman-&-nicobar-islands  2018      Q1         Merchant payments
3   India  andaman-&-nicobar-islands  2018      Q1        Financial Services
4   India  andaman-&-nicobar-islands  2018      Q1                    Others

   transaction_count  total_amount
0               4200       1845307
1               1871      12138655
2                298        452507
3                 33         10601
4                256        184689

c:\Users\USER\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning:

pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

In [27]:
aggregate_transaction['state'] = aggregate_transaction['state'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [28]:
# Define the SQL query to retrieve data from the "Top_India_2022_District" table
query = "SELECT * FROM map_transaction"

# Execute the SQL query and store the result in a Pandas dataframe
map_transaction = pd.read_sql(query, cnx)

# Print the first 5 rows of the dataframe
print(map_transaction.head())

  country                      state  year quarter  \
0   india  andaman-&-nicobar-islands  2018      Q1
1   india  andaman-&-nicobar-islands  2018      Q1
2   india  andaman-&-nicobar-islands  2018      Q1
3   india  andaman-&-nicobar-islands  2018      Q2
4   india  andaman-&-nicobar-islands  2018      Q2

                       district_name  transaction_count  total_amount
0  north and middle andaman district                442        931663
1             south andaman district               5688      12560249
2                  nicobars district                528       1139848
3  north and middle andaman district                825       1317863
4             south andaman district               9395      23948235

c:\Users\USER\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning:

pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

In [29]:
map_transaction['state'] = map_transaction['state'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [30]:
# Define the SQL query to retrieve data from the "Top_India_2022_District" table
query = "SELECT * FROM top_transaction"

# Execute the SQL query and store the result in a Pandas dataframe
top_transaction = pd.read_sql(query, cnx)

# Print the first 5 rows of the dataframe
print(top_transaction.head())

  country                      state  year entity_type quarter  \
0   india  andaman-&-nicobar-islands  2018    district      Q1
1   india  andaman-&-nicobar-islands  2018    district      Q1
2   india  andaman-&-nicobar-islands  2018    district      Q1
3   india  andaman-&-nicobar-islands  2018     pincode      Q1
4   india  andaman-&-nicobar-islands  2018     pincode      Q1

           district&pincode  transaction_count  total_amount
0             south andaman               5688      12560249
1                  nicobars                528       1139848
2  north and middle andaman                442        931663
3                    744101               1622       2769297
4                    744103               1223       2238041

c:\Users\USER\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning:

pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

In [31]:
top_transaction['state'] = map_transaction['state'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [32]:
# Define the SQL query to retrieve data from the "Top_India_2022_District" table
query = "SELECT * FROM aggregate_user"

# Execute the SQL query and store the result in a Pandas dataframe
aggregate_user = pd.read_sql(query, cnx)

# Print the first 5 rows of the dataframe
print(aggregate_user.head())

  country                      state  year quarter  registered_users  \
0   india  andaman-&-nicobar-islands  2018      Q1              6740
1   india  andaman-&-nicobar-islands  2018      Q1              6740
2   india  andaman-&-nicobar-islands  2018      Q2              9405
3   india  andaman-&-nicobar-islands  2018      Q2              9405
4   india  andaman-&-nicobar-islands  2018      Q3             12149

   apps_opened
0            0
1            0
2            0
3            0
4            0

c:\Users\USER\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning:

pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

In [33]:
# Define the SQL query to retrieve data from the "Top_India_2022_District" table
query = "SELECT * FROM map_user"

# Execute the SQL query and store the result in a Pandas dataframe
map_user = pd.read_sql(query, cnx)

# Print the first 5 rows of the dataframe
print(map_user.head())

c:\Users\USER\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning:

pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

  country                      state  year quarter  \
0   india  andaman-&-nicobar-islands  2018      Q1
1   india  andaman-&-nicobar-islands  2018      Q1
2   india  andaman-&-nicobar-islands  2018      Q1
3   india  andaman-&-nicobar-islands  2018      Q2
4   india  andaman-&-nicobar-islands  2018      Q2

                              states  registered_users  apps_opened
0  north and middle andaman district               632            0
1             south andaman district              5846            0
2                  nicobars district               262            0
3  north and middle andaman district               911            0
4             south andaman district              8143            0

In [34]:
map_user['state'] = map_user['state'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [35]:
# Define the SQL query to retrieve data from the "Top_India_2022_District" table
query = "SELECT * FROM top_user"

# Execute the SQL query and store the result in a Pandas dataframe
top_user = pd.read_sql(query, cnx)

# Print the first 5 rows of the dataframe
print(top_user.head())

  country                      state  year entity_type quarter  \
0   india  andaman-&-nicobar-islands  2018    district      Q1
1   india  andaman-&-nicobar-islands  2018    district      Q1
2   india  andaman-&-nicobar-islands  2018    district      Q1
3   india  andaman-&-nicobar-islands  2018     pincode      Q1
4   india  andaman-&-nicobar-islands  2018     pincode      Q1

               district&pin  registered_users
0             south andaman              5846
1  north and middle andaman               632
2                  nicobars               262
3                    744103              1608
4                    744101              1108

c:\Users\USER\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning:

pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

In [36]:
top_user['state'] = top_user['state'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [37]:
def user_agg(year,quarter):
    return aggregate_user[(aggregate_user['year'] == year) & (aggregate_user['quarter'] == quarter)]

In [38]:
def user_map(year,quarter):
    return map_user[(map_user['year'] == year) & (map_user['quarter'] == quarter)]

In [39]:
def user_top(year,quarter):
    return top_user[(top_user['year'] == year) & (top_user['quarter'] == quarter)]

In [40]:
def transaction_agg(year,quarter):
    return aggregate_transaction[(aggregate_transaction['year'] == year) & (aggregate_transaction['quarter'] == quarter)]

In [41]:
def transaction_map(year,quarter):
    return map_transaction[(map_transaction['year'] == year) & (map_transaction['quarter'] == quarter)]

In [42]:
def transaction_top(year,quarter):
    return top_transaction[(top_transaction['year'] == year) & (top_transaction['quarter'] == quarter)]

In [43]:
def display_dashboard():
  # sets the padding around the content in the app to zero
  padding = 0
  # is a method from the Streamlit library that allows the user to set various page-level options for the app
  st.set_page_config(page_title="PhonePe Pulse", layout="wide", page_icon="â‚¹")
  # setting page title
  st.title("PhonePe Pulse Dashboard")

  st.sidebar.write("Welcome to PhonePe Pulse Dashboard ðŸ’°")
  # getting the inputs from user
  YEAR = ['2018','2019','2020','2021','2022']
  year = st.sidebar.selectbox("Select a year:",YEAR)
  QUARTER = ['Q1','Q2','Q3','Q4']
  quarter = st.sidebar.selectbox("Select Quarter:",QUARTER)

  if st.sidebar.button("DisplayðŸ“ˆTransaction"):
    with st.container():
      maping = transaction_map(int(year),quarter)
      india_map = maping[['state', 'total_amount','transaction_count']].groupby(['state']).sum().reset_index()
    
      fig = px.choropleth(india_map,
                      geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                      featureidkey='properties.ST_NM',
                      locations='state',
                      color='total_amount',
                      hover_data=['state','transaction_count'],
                      projection="robinson",
                      color_continuous_scale='YlGnBu')
      fig.update_geos(fitbounds = 'locations',visible = False )
      fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    
      # Display the map in the Streamlit app
      st.plotly_chart(fig,theme="streamlit",use_container_width=True)
      
    col1, col2, col3 = st.columns([1,1,1])
    dataframe = transaction_agg(int(year),quarter)
    india_agg = dataframe[['transaction_type','transaction_count','total_amount']].groupby(['transaction_type']).sum().sort_values(by='total_amount',ascending=False).reset_index()
    col1.subheader('Categories')
    col1.dataframe(india_agg)
    
    sun = transaction_top(int(year),quarter)
    india_top = sun[['entity_type','district&pincode','total_amount','transaction_count']].groupby(['entity_type','district&pincode']).sum().sort_values(by='total_amount',ascending=False).reset_index() 
    districts = india_top[india_top['entity_type'].str.contains('district')]
    top_districts = districts.head(10)
    pincodes = india_top[~india_top['entity_type'].str.contains('district')]
    top_pincodes = pincodes.head(10)
    top_rows = pd.concat([top_districts, top_pincodes])
    fig = px.sunburst(top_rows, path=['entity_type','district&pincode'], values='total_amount',
                  color='total_amount',color_continuous_scale='YlGnBu')


    col2.subheader("Top 10 Districts & Pincode")
    col2.plotly_chart(fig)

    india_state = sun[['state','total_amount']].groupby(['state']).sum().sort_values(by='total_amount',ascending=False).reset_index()
    sun_state = pd.DataFrame(india_state.head(10))
    fig_state = px.sunburst(sun_state, path=['state'], values='total_amount',
                  color='total_amount',color_continuous_scale='YlGnBu')
    col3.subheader("Top 10 states")
    col3.plotly_chart(fig_state)
  

  if st.sidebar.button("DisplayðŸ“ˆUser"):
    with st.container():
      maping = user_map(int(year),quarter)
      india_map = maping[['state', 'registered_users','apps_opened']].groupby(['state']).sum().reset_index()
    
      fig = px.choropleth(india_map,
                      geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                      featureidkey='properties.ST_NM',
                      locations='state',
                      color='registered_users',
                      hover_data=['state','apps_opened'],
                      projection="robinson",
                      color_continuous_scale='YlGnBu')
      fig.update_geos(fitbounds = 'locations',visible = False )
      fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    
      # Display the map in the Streamlit app
      st.plotly_chart(fig,theme="streamlit",use_container_width=True)
    


    col1, col2, col3 = st.columns([1,1,1])
    dataframe = user_agg(2018,'Q1')
    india_agg = dataframe[['state','registered_users']].groupby(['state']).sum().sort_values(by='registered_users',ascending=False).reset_index()
    col1.subheader('Users')
    col1.dataframe(user_agg)
    
    sun = user_top(int(year),quarter)
    india_top = sun[['entity_type','district&pin','registered_users']].groupby(['entity_type','district&pin']).sum().sort_values(by='registered_users',ascending=False).reset_index() 
    districts = india_top[india_top['entity_type'].str.contains('district')]
    top_districts = districts.head(10)
    pincodes = india_top[~india_top['entity_type'].str.contains('district')]
    top_pincodes = pincodes.head(10)
    top_rows = pd.concat([top_districts, top_pincodes])
    fig = px.sunburst(top_rows, path=['entity_type','district&pin'], values='registered_users',
                  color='registered_users',color_continuous_scale='YlGnBu')


    col2.subheader("Top 10 Districts & Pincode")
    col2.plotly_chart(fig)

    india_state = sun[['state','registered_users']].groupby(['state']).sum().sort_values(by='registered_users',ascending=False).reset_index()
    sun_state = pd.DataFrame(india_state.head(10))
    fig_state = px.sunburst(sun_state, path=['state'], values='registered_users',
                  color='registered_users',color_continuous_scale='YlGnBu')
    col3.subheader("Top 10 states")
    col3.plotly_chart(fig_state)

      
  expander = st.sidebar.expander("About Pulse")
  expander.write(
        """
    The Indian digital payments story has truly captured the world's imagination. From the largest towns to the remotest villages, there is a payments revolution being driven by the penetration of mobile phones and data.

    When PhonePe started 5 years back, we were constantly looking for definitive data sources on digital payments in India. Some of the questions we were seeking answers to were - How are consumers truly using digital payments? What are the top cases? Are kiranas across Tier 2 and 3 getting a facelift with the penetration of QR codes?
    This year as we became India's largest digital payments platform with 46% UPI market share, we decided to demystify the what, why and how of digital payments in India.

    This year, as we crossed 2000 Cr. transactions and 30 Crore registered users, we thought as India's largest digital payments platform with 46% UPI market share, we have a ring-side view of how India sends, spends, manages and grows its money. So it was time to demystify and share the what, why and how of digital payments in India.

    PhonePe Pulse is your window to the world of how India transacts with interesting trends, deep insights and in-depth analysis based on our data put together by the PhonePe team.
    """
    )
display_dashboard()

2023-02-12 21:18:54.574
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]